<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#" style="background-color: darksalmon; font-family:'Poppins'; font-weight:800; font-size:10pt; padding: 17.5px;">ONLINE RESUME</a>
    <button class="navbar-toggler" 
    type="button" 
    data-bs-toggle="collapse" 
    data-bs-target="#navbarNav" 
    aria-controls="navbarNav" 
    aria-expanded="false" 
    aria-label="Toggle navigation">

        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav " style="justify-content: flex-end; background-color: darksalmon; font-family:'Poppins'; font-weight:800; font-size:10pt; padding: 10px;">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#" id="home">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" id="aboutme">ABOUT ME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" id="projects">PROJECTS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" id="services">SERVICES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" id="contactme">CONTACT ME</a>
            </li>
        </ul>
    </div>
</nav>
