<html>
<body>
    <header></header>
    <main>    

        <div class="container">
            <h3>Welcome! This is Michele's online resume.</h3>
            <div class="row">
              <div class="col-md-3">              
            <div class="card">
                  <div class="card-body">
                    <!-- Card content for the first card -->
                    <h4>EDUCATION</h4>
                    <h5><b>Bachelor of Arts,</b> <em>University of Manitoba</em><br>
                        Major: English  Minor: Business</h5>
                    <h5><b>Interactive Media Design, Web, </b><em>Georgian College</em><br></h5>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card">
                  <div class="card-body">
                    <!-- Card content for the second card -->
                    <h4>WORK HISTORY</h4>
                    <h5><b>Private Consulting 2019 - 2022</b><br>
                    Training, Workplace Culture, Instructional Design, Graphic Design</h5>
                    <h5><b>Stantec 2016 - 2019</b><br>
                    Senior Marketing and Proposal Specialist</li>
                    <h5><b>Global eTraining 2014 - 2016</b><br>
                    Senior Account Manager</h5>
                    <h5><b>Private Consulting 2011 - 2014</b><br>
                    Project Management, Marketing, Graphic Design, Branding</h5>
                    <h5><b>WSP 2009 - 2011</b><br>
                    Business Development Manager</h5>
                    <h5><b>TetraTech 2006 - 2009</b><br>
                    Business Development Manager</h5>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card">
                  <div class="card-body">
                    <!-- Card content for the third card -->
                   <h4>SKILLS</h4>
                   <h5><b>Web Design</b><br>
                    JavaScript, ASP.Net, REACT, CSS, SVG</h5>
                    <h5><b>Creative Suite</b><br>
                    InDesign, Photoshop, Premiere, Illustrator</h5>
                    <h5><b>Project Management</b><br>
                    Agile, Kanban, Training</h5>
                    <h5><b>Proposal Management</b><br>
                    Capture planning, client experience, editing, proposal team management</h5>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card">
                <img src="michele2023.jpg" class="card-img-center img-fluid " alt="micheleportrait">  
                  <div class="card-body">
                    <figcaption>Michele, 2023</figcaption>
                    <!-- Card content for the first card -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          
    </main>
    <footer></footer>
  </body>
</html>
