<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rochon-Wood Resume</title>
    <link
      rel="stylesheet"
      href="node_modules/bootstrap/dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="css/app.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="js/app.js" defer></script>
  </head>
  <main>    

    <div class="container">
        <h3>Continue through the site for a full profile.</h3>
        <div class="row">
          <div class="col-md-3">
            <div class="card">
              <div class="card-body">
                <!-- Card content for the first card -->
                <h4>BIOGRAPHY</h4>
                <h5>My career began with an administrative position in an engineering firm. A competing firm created a position for a proposal coordinator, for which I applied and was hired. I stayed in similar marketing and business development roles of increasing responsibility. After the death of my husband, I left my role at WSP to pursue self-employment in Calgary. I worked in Calgary for a few years until accepting a role at Global eTraining as an account manager. My experience with engineering firms was useful there, since their largest clients were in engineering. After two years at Global eTraining I returned to Manitoba briefly, then moved to Ottawa. There I revived my private consulting practice and later decided to return to school at Georgian College.</h5>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <div class="card-body">
                <!-- Card content for the second card -->
                <h4>MISSION</h4>
                <h5><b>Growing creatively</b><br>
                My primary goal is to take on new, interesting creative projects. Now that I have graduated with a diploma in web design, my hope is that this is where I will find exactly the creative challenges I crave.</li>
                <h5><b>Leadership</b><br>
                I hope to lead more creative teams. This has been the most satisfying part of my work and I hope to use my project management experience to that end.</h5>
                <h5><b>Writing and Editing</b><br>
                Writing and editing are my first love and continue to provide me with challenge and creative satisfaction. I'm looking for opportunities to write for web publications.</h5>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <div class="card-body">
                <!-- Card content for the third card -->
               <h4>DEMONSTRATED ABILITIES</h4>
               <h5><b>Client Experience</b><br>
                I have successfully supported a number of project managers in developing strong partnerships with long-term clients. As advisor to the project manager, this involved leading the day-to-day growth of the service team towards better communication, stronger negotiation, listening skills, and proactive task management.</h5>
                <h5><b>Design</b><br>
                My design experience includes print, web, online courses, presentations, brochures, trade show booths and displays, newsletters, and architectural sketches.</h5>
                <h5><b>Writing and Editing</b><br>
                I have written hundreds of proposals and have edited the work of contributors to those proposals. I've also written and had published numerous industry articles.</h5>
                <h5><b>Executive Training</b><br>
                Developed and delivered training and workshops for executive learners in the topics of proposal writing, employee engagement, communication, project management, and emotional intelligence.</h5>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <img src="michele2023.jpg" class="card-img-center img-fluid " alt="micheleportrait">  
              <div class="card-body">
                <figcaption>Michele, 2023</figcaption>
                <!-- Card content for the first card -->
              </div>
                </div>
              </div>
            </div>
        </div>
      </div>
      
</main>