<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rochon-Wood Resume</title>
    <link
      rel="stylesheet"
      href="node_modules/bootstrap/dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="css/app.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="js/app.js" defer></script>
  </head>
  <main>    
    <div class="container">
        <h3>A few of Michele's projects.</h3>
        <div class="row">
          <div class="col-md-3">
            <div class="card">
              <div class="card-body">
                <!-- Card content for the first card -->
                <h4>PROJECT MANAGEMENT</h4>
                <h5><b>Mun of Crowsnest Pass Shared Services Project</b><br>
                Managed project involving interviews of facility operators, residents, activity planners, and other stakeholders.</h5>
                <h5><b>Calgary Marathon</b><br>
                Managed the development of a planning guidebook for the annual marathon.</h5>
                <h5><b>Chief Peguis Trail P3 Proposal</b><br>
                One-year project with team of 15 plus subcontractors. Proposal was submitted in five stages.</h5>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <div class="card-body">
                <!-- Card content for the second card -->
                <h4>PROPOSALS</h4>
                <h5><b>Site C, BC Hydro, Camp Services</b><br>
                Led the Calgary branch of the team proposing on the camp services portion of the Site C project.</h5>
                <h5><b>Manitoba First Nations, Various Projects</b><br>
                Led numerous proposals in a campaign to re-establish a working relationship with Manitoba First Nations; increased work portfolio from $0.5M to $4M in two years.</h5>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <div class="card-body">
                <!-- Card content for the third card -->
               <h4>TRAINING</h4>
               <h5><b>Client Experience</b><br>
                I have successfully supported a number of project managers in developing strong partnerships with long-term clients. As advisor to the project manager, this involved leading the day-to-day growth of the service team towards better communication, stronger negotiation, listening skills, and proactive task management.</h5>
 
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <img src="michele2023.jpg" class="card-img-center img-fluid " alt="micheleportrait">  
              <div class="card-body">
                <figcaption>Michele, 2023</figcaption>
                <!-- Card content for the first card -->
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
</main>