<html>
<body>
    <header></header>
<main>    
    <div class="container">
        <h3>Hire Michele for the following work.</h3>
        <div class="row">
          <div class="col-md-3">
            <div class="card">
              <div class="card-body">
                <!-- Card content for the first card -->
                <h4>PROJECT MANAGEMENT</h4>
                <h5><b>Web Design</b><br>
                Manage projects involving web design teams including visioning, branding, social media, SEO, back- and front-end development.</h5>
                <h5><b>Books, Proposals, and Campaigns</b><br>
                Manage the development of large scale documents, contracts, books, and series.</h5>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <div class="card-body">
                <!-- Card content for the second card -->
                <h4>PROPOSALS</h4>
                <h5><b>Proposal Management</b><br>
                Project management for the writing of a complex sale document, including win strategy, team reviews, executive reviews, subcontractors, work breakdown structure, price-to-win, Red Team, proofreading.</h5>
                <h5><b>Proposal Strategy</b><br>
                Will lead strategy development exercises based on ten-step method.</h5>
                <h5><b>Proposal Design and Editing</b><br>
                Structural and branding edits, graphic development, cover design, chart and graphical schedules.</h5>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <div class="card-body">
                <!-- Card content for the third card -->
               <h4>TRAINING</h4>
               <h5><b>Executive and Team Training</b><br>
                Workplace culture, employee experience, alternative workplaces, communication, writing and editing, proposal writing and management.</h5>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <img src="michele2023.jpg" class="card-img-center img-fluid " alt="micheleportrait">  
              <div class="card-body">
                <figcaption>Michele, 2023</figcaption>
                <!-- Card content for the first card -->
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
</main>
</body>
</html>